link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
link(rel='stylesheet', href='login.css')
link(rel='stylesheet', href='css/all.css')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
.wrapper.fadeInDown
  #formContent
    // Tabs Titles
    // Icon
    .fadeIn.first
      i.far.fa-user-circle.fa-7x
    if errors
      each error in errors
        .form-group
          .alert.alert-danger= error
    // Login Form
    form(action='/login', method='POST')
      input#login.fadeIn.second(type='text', name='username', placeholder='USERNAME')
      input#password.fadeIn.third(type='password', name='password', placeholder='PASSWORD')
      input.fadeIn.fourth(type='submit', value='Log In')
    // Sign Up
    #formFooter
      a.underlineHover(href='/register') Sign Up
      