link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
link(rel='stylesheet', href='login.css')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
.wrapper.fadeInDown
  #formContent
    // Tabs Titles
    // Icon
    .fadeIn.first
      img#icon(src='http://danielzawadzki.com/codepen/01/icon.svg', alt='User Icon')
    // Login Form
    form
      input#login.fadeIn.second(type='text', name='login', placeholder='login')
      input#password.fadeIn.third(type='text', name='login', placeholder='password')
      input.fadeIn.fourth(type='submit', value='Log In')
    // Remind Passowrd
    #formFooter
      a.underlineHover(href='#') Forgot Password?